header{
	border-bottom: 1px solid $colorplomoOscuro;
}
.navbar_header{
	color: $colorplomo;
	text-decoration:none;

}

#perfil{
	width:30px;
}

#navbar_logo {
  width: 55px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}



img{
	width: 250px;
	height: auto;
	border-radius: 10px;
}

//columnas
.btns{
	display:flex;
	justify-content: center;
	margin: 30px;

.btns__target1{
	@include botones;
	background-image: url(../../dist/img/1.jpg);
}

.btns__target2{
	@include botones;
	background-image: url(../../dist/img/2.jpg);
}

.btns__target3{
	@include botones;
	background-image: url(../../dist/img/3.jpg);
}

.btns__target4{
	@include botones;
	background-image: url(../../dist/img/4.jpg);
}

.btns__target5{
	@include botones;
	background-image: url(../../dist/img/5.jpg);
}

.btns__target6{
	@include botones;
	background-image: url(../../dist/img/6.jpg);
}

.btns__target7{
	@include botones;
	background-image: url(../../dist/img/7.jpg);
}

.btns__target8{
	@include botones;
	background-image: url(../../dist/img/8.jpg);
}

.btns__target9{
	@include botones;
	background-image: url(../../dist/img/9.jpg);
}

.btns__target10{
	@include botones;
	background-image: url(../../dist/img/1.jpg);
}

.btns__target11{
	@include botones;
	background-image: url(../../dist/img/1.jpg);
}


}
.pint{
	-webkit-column-count: 5;
	-webkit-column-gap: 10px;
	-webkit-column-fill: auto;
	-moz-column-count: 5;
	-moz-column-gap: 10px;
	-moz-column-fill: auto;
	column-count: 5;
	column-gap: 15px;
	column-fill: auto;
}

//arreglo descripciones de las tarjetas
.cont_img{
	float: right;
	font-width: bold;
	font-size: 16px; 
}

.fa-user-circle{
	font-size:25px;
	background-color: #F5A9A9;
	margin:10px;
}

.btn-primary{
	background-color: #DF0101;
	float: right;
}