header{
	border-bottom: 1px solid $colorplomoOscuro;
}


#navbar_logo{
 width:55px;
 		a{
 			color:$colorplomo;
 			text-decoration:none;
 			&:hover{
 			color:$colorplomo;
 			}
 	}

}

#perfil{
	width:30px;
}	

.form-control{
	margin-left:-100px;
	width:100px;
	
}


img{
	width: 250px;
	height: auto;
	border-radius: 10px;
}



